@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --black: rgb(0,0,0);
    --test-glass: rgba(0, 0, 0, 0.8);
    /* --pink: rgb(239, 211, 247); */
    --blue: #89ABE3FF;
    --link-hover: rgb(64, 118, 150);
    --dark: rgba(0, 17, 17, 1);

    --base-metric: 100px;
    --header-height: var(--base-metric);
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: var(--header-height);
    /* background: var(--test-glass); */
    background: #FCF6F5FF;
}

.commands {
    float: right;
    height: var(--header-height);
    display: flex;
}

.pic {
    padding-top: 14px; 
    padding-right: 8px;
}

.commands > button {
    float: right;
    margin: 12px 6px;
    padding: 0 8px;
    border: 1px solid var(--blue);
    color: var(--blue);
    /* background: var(--dark) */
    background: #FCF6F5FF;
}

.commands > button:last-child {
    margin-right: 14px;
}

h1 {
    z-index: 1;
    float: left;
    color: var(--blue);
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin: 10px 0 0 8px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px var(--blue);
    padding-left: 25px;
    padding-top: 10px;
}

canvas {
    width: 800;
    height: 500;
    /* border: 1px solid var(--blue); */
    background-color: var(--blue);
}

body {
    /* background: #000; */
    background: #FCF6F5FF;
    color: var(--blue);
    cursor: default;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

button {
    font-size: 14px;
    border: 1px solid var(--blue);
    /* background-color: var(--dark-glass); */
    background: #FCF6F5FF;
    color: var(--blue);
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    height: 34px;
    width: 50px;
    margin: 1px;
}

.tools {
    float: right;
}

footer {
    flex-shrink: 1;
    width: 100%;
    align-self: flex-end;
    padding-left: 12px;
    font-weight: normal;
    line-height: 1.8;
}

footer > div {
    float: left;
    line-height: 18px;
    margin: 6px 12px;
    font-size: 12px;
}

footer > div:nth-child(2) {
    float: right;
    font-size: 13px;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--link-hover);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    /* background-color: var(--black); */
    background: #FCF6F5FF;
    margin: auto;
    padding: 20px;
    border: 4px solid #FCF6F5FF;
    width: 30%;
    height: 30%;
}

.top-part>h2 {
    border-bottom: 1px solid var(--blue);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 15px;
    color: black;
}

.close {
    color: var(--blue);
    display: block;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--link-hover);
    text-decoration: none;
    cursor: pointer;
}

.p3 {
    font-weight: 15px;
    padding-top: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

